<div class="flex-space-between">
  <div class="flex-base">
    <div class="user-avatar">
      <%= gravatar_image_tag(profile.email, alt: profile.username) %>
    </div>
    <div class="guide-title">
      <%= link_to profile_path(profile.id) do %>
        <%= profile.username %>
      <% end %>
    </div>
  </div>

  <div class="topic-counter">
    <%= profile.guides.size %> guides
  </div>
</div>
