<div class="container-lg card">
  <div class="list-container">
    <%= render partial: "profile", collection: @profiles %>
  </div>

  <div class="right vertical-spacer">
    <%= paginate @profiles %>
  </div>
</div>
