<div class="list-container__topic">
  <div class="guide-title">
    <%= link_to topic do %>
      <%= topic.title %>
    <% end %>
  </div>

  <div class="list-container__topic__counter">
    <%= topic.guides.size %> guides
  </div>
</div>
