<div class="list-container__item">
  <div class="list-container__item__content">
    <div class="guide-title">
      <%= link_to topic do %>
        <%= topic.title %>
      <% end %>
    </div>
  </div>

  <div class="list-container__item__ratings">
    COUNT
  </div>
</div>
