<div class="container-lg card">
  <div class="card__heading">
    <%= @topic.title %>
  </div>

  <div class="list-container">
    <%= render @guides %>
  </div>

  <div class="right vertical-spacer">
    <%= paginate @guides %>
  </div>
</div>
