<div class="nav-wrapper">
  <div class="nav-wrapper__left">
    <div class="nav-wrapper__left__logo">
      <%= image_tag("logo.png") %>
    </div>

    <div class="nav-wrapper__left__link">
      <%= link_to root_path do %>
        My Feed
      <% end %>
    </div>

    <div class="nav-wrapper__left__link">
      Topics
    </div>

    <div class="nav-wrapper__left__link">
      Users
    </div>

    <div class="nav-wrapper__left__link">
      Posts
    </div>
  </div>

  <div class="nav-wrapper__search">
    SEARCH bar
  </div>

  <div class="nav-wrapper__new-post">
    New Post
  </div>

  <div class="nav-wrapper__right">
    <div class="nav-wrapper__right__dropdown">
      DROPDOWN
    </div>

    <div class="nav-wrapper__right__avatar">
      AVATAR
    </div>
  </div>
</div>
