$primary: #007AFF;
$primary-dark: #0069DE;
$highlight: #6B6B6B;
$lightgrey: #C0C2C3;
$off-white: #F3F3F3;
$dark-charcoal: #333333;
$medium-charcoal: #4A4A4A;
$light-charcoal: #6B6B6B;

$font-light: 'LatoLight';
$font-bold: 'LatoBold';
$font-regular: 'LatoRegular';
