@font-face {
  font-family: 'LatoRegular';
  src: font-url('Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: font-url('Lato-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: font-url('Lato-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
