.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  margin-bottom: 30px;

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: $font-regular;
  }

  .text-field,
  select {
    height: 50px;
    width: 100%;
    border: 1px solid #d3dce6;
    border-radius: 3px;
    font-size: 1rem;
    padding-left: 10px;
  }
}

@import 'dropzone/dist/min/dropzone.min.css';
@import 'dropzone/dist/min/basic.min.css';

.input {
  @apply appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight;
}

.input:focus {
  @apply outline-none bg-white border-gray-400;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.select {
  @apply appearance-none py-3 px-4 pr-8 block w-full bg-gray-100 border border-gray-300 text-gray-700
   rounded leading-tight;
  -webkit-appearance: none;
}

.select:focus {
  @apply outline-none bg-white border-gray-400;
}

.dropzone {
  @apply border-2 rounded-lg border-gray-400 border-dashed;

  &.dz-drag-hover {
    @apply border-2 rounded-lg border-gray-200 border-dashed;

    .dz-message {
      opacity: 0.9;
    }
  }
}
