.list-container {
  @include base-grid();

  &__item {
    display: flex;
    justify-content: space-between;

    &__thumb img {
      border-radius: 5px;
      object-fit: cover;
      width: 119px;
      height: 84px;
    }

    &__content {
    }

    &__ratings {
    }
  }
}
