.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;

  border-bottom: 1px solid #e7e9ea;
  margin-bottom: 20px;
  height: 67px;
  background-color: #ffffff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
      margin-right: 30px;
      img {
        width: 30px;
      }
    }

    &__link {
      margin: 0px 15px;
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid transparent;
      transition: 0.5s ease-in-out;

      a {
        font-family: $font-light;
        font-size: 0.9em;
        color: $highlight;

        span {
          margin-left: 2px;
        }

        &:hover {
          color: $primary;
        }
      }

      &:hover {
        border-bottom: 2px solid $primary;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__link {
      padding: 0px 15px;
    }

    &__avatar {
      img {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        border: 1px solid $primary;
      }
    }
  }
}
