.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo img {
      width: 42px;
    }

    &__link {
      margin: 0px 15px;
    }
  }
}
