.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
      margin-right: 30px;
      img {
        width: 30px;
      }
    }

    &__link {
      margin: 0px 15px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid transparent;

      a {
        font-family: $font-light;
        font-size: 0.9em;
        color: $highlight;

        &:hover {
          color: $primary;
        }
      }

      &:hover {
        border-bottom: 1px solid $primary;
      }
    }
  }
}
