.search-box {
  width: 250px;
  height: 32px;
  border-radius: 100px;
  background-color: $off-white;
  border: 0px;

  padding-left: 40px;
  font-family: $font-light;
  font-weight: 500;
  font-size: 14px;
}

.fa-search {
  position: absolute;
  color: $lightgrey;
  margin-left: 14px;
  margin-top: 8px;
}

.search-card-wrapper {
  padding-top: 42px;
}
