.search-box {
  width: 15.4em !important;
  border-radius: 100px;
  background-color: $off-white;
  border: 0px;

  color: $lightgrey !important;
  padding-left: 20px;
  font-family: $font-light;
  font-weight: 500;
  font-size: 14px;
}

.fa-search {
  position: absolute;
  color: $lightgrey;
  margin-left: 14px;
  margin-top: 11px;
}

.search-card-wrapper {
  padding-top: 42px;
}
