<div class="list-container__item">
  <div class="list-container__item__thumb">
    THUMB
  </div>

  <div class="list-container__item__content">
    <%= guide.title %>
  </div>

  <div class="list-container__item__ratings">
    Ratings
  </div>
</div>
